/* Общие стили */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #ffffff;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  color: #23527c;
  text-decoration: underline;
}

h1,
h2,
h3 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Стили для навигационного меню */
.navbar {
  background-color: #222;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-brand {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}

.navbar-brand:hover {
  color: #ccc;
}

.navbar-nav>li>a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-nav>li>a:hover {
  color: #ccc;
}

/* Стили для секций */
section {
  padding: 60px 0;
}

section h2 {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 36px;
}

/* Стили для секции "Обо мне" */
#about-me {
  background-color: #f2f2f2;
}

#about img {
  width: 300px;
  height: auto;
}

#about-me img {
  float: left;
  margin-right: 20px;
}

#about-me p {
  margin-bottom: 20px;
}

/* Стили для секции "Портфолио" */
#portfolio .thumbnail {
  border: none;
  border-radius: 0;
  padding: 0;
}

#portfolio .caption {
  padding: 10px;
  text-align: center;
}

#portfolio .caption h3 {
  margin-top: 0;
  font-size: 18px;
}

#portfolio .caption p {
  margin-bottom: 0;
}

#portfolio img{
  width: 350px;
  height: 250px;
}

/* Стили для секции "Контакты" */
#contact form {
  margin-bottom: 40px;
}

#contact form label {
  font-weight: bold;
}

#contact form input,
#contact form textarea {
  margin-bottom: 20px;
}

#contact form button {
  margin-top: 10px;
}

#contact ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* Медиазапросы */
@media (max-width: 767px) {
  .navbar-brand {
    font-size: 18px;
  }

  .navbar-nav>li>a {
    font-size: 14px;
  }

  section {
    padding: 40px 0;
  }

  section h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }
}